body {
    background-image: url("images/01073865290819.5d61d475f0072.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

#title {
    color: white;
    -webkit-text-stroke: 2px black;
    font-size: 40px;
}

.grid-container {
    border: solid
}
